@page "/klant/{Id:int}"
@using Smart.Blazor
@attribute [Authorize]

@if (Loading)
{
    <div class="card-body center">
        <span class="icon is-large">
            <i class="fas fa-lg fa-solid fa-spinner fa-spin"></i>
        </span>
    </div>
}
else
{
    @if (Klant.Id == -1)
    {
        <p>Klant bestaat niet...</p>
    }
    else
    {
        <h1>Details @Klant.FirstName @Klant.Name</h1>

        <div>
            <div class="ml-4">
                <h2 class="mb-2">Algemene info</h2>
                <div class="ml-4">
                    <AuthorizeView Roles="Administrator">
                    <div class="form-check form-switch">
                        <input @onclick="@Toggle" class="form-check-input" type="checkbox" id="switch" @bind="@Edit" />
                        <label class="form-check-labelv" for="switch">Klant wijzigen?</label>
                    </div>
                    </AuthorizeView>
                    @if (Intern)
                    {
                        <h3 class="mb-2 mt-0">Interne Klant</h3>
                    }
                    else
                    {
                        <h3 class="mb-2 mt-0">Externe Klant</h3>
                    }
                    @if (!Edit)
                    {
                        <div class="ml-8">
                            <div>
                                <label class="label">Voornaam: </label>
                                <input type="text" readonly class="input" value="@Klant.FirstName">
                            </div>
                            <div>
                                <label class="label">Naam: </label>
                                <input type="text" readonly class="input" value="@Klant.Name">
                            </div>
                            <div>
                                <label class="label">Email: </label>
                                <input type="text" readonly class="input" value="@Klant.Email">
                            </div>
                            <div>
                                <label class="label">Gms-nummer: </label>
                                <input type="text" readonly class="input" value="@Klant.PhoneNumber">
                            </div>
                            <div>
                                @if (Intern)
                                {
                                    <label class="label">Opleiding : </label>
                                    <input type="text" readonly class="input" value="@Klant.Opleiding">
                                }
                                else
                                {
                                    <label class="label">Bedrijf:</label>
                                    <input type="text" readonly class="input" value="@Klant.Bedrijf">
                                }
                            </div>
                            <div>
                                @if (Klant.contactPersoon.FirstName is not null || Klant.contactPersoon.LastName is not null 
                                || Klant.contactPersoon.PhoneNumber is not null || Klant.contactPersoon.Email is not null)
                                {
                                    <br />
                                    <h4>Contactpersoon: </h4>
                                    <div>
                                        <label class="label">Voornaam Contactpersoon</label>
                                        <input type="text" class="input" readonly value="@Klant.contactPersoon.FirstName">
                                    </div>
                                    <div>
                                        <label class="label">Achternaam Contactpersoon</label>
                                        <input type="text" class="input" readonly value="@Klant.contactPersoon.LastName">
                                    </div>
                                    <div>
                                        <label class="label">Email Contactpersoon</label>
                                        <input type="text" class="input" readonly value="@Klant.contactPersoon.Email">
                                    </div>
                                    <div>
                                        <label class="label">Gsm-nummer Contactpersoon</label>
                                        <input type="text" class="input" readonly value="@Klant.contactPersoon.PhoneNumber">
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <p>Deze klant heeft geen contactpersoon</p>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <EditForm Model="@model" OnValidSubmit="@EditKlant">
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                            <div>
                                <label class="label">Voornaam: </label>
                                <InputText class="input" @bind-Value="@model.FirstName" />
                            </div>
                            <div>
                                <label class="label">Naam: </label>
                                <InputText class="input" @bind-Value="@model.Name" />
                            </div>
                            <div class="control">
                                <label class="label">Email: </label>
                                <InputText class="input" @bind-Value="@model.Email" />
                            </div>
                            <div class="control">
                                <label class="label">Gms-nummer: </label>
                                <InputText class="input" @bind-Value="@model.PhoneNumber" />
                            </div>
                            @if (model.Opleiding is not null)
                            {

                            }
                            else
                            {
                                <div>
                                    <label class="label">Bedrijf:</label>
                                    <InputText class="input" @bind-Value="@model.Bedrijf" />
                                </div>

                            }
                                <div>
                                    <br/>
                                    <h4>Contactpersoon: </h4>
                                    <div>
                                        <label class="label">Voornaam Contactpersoon</label>
                                        <InputText class="input" @bind-Value="@model.contactPersoon.FirstName" />
                                    </div>
                                    <div>
                                        <label class="label">Achternaam Contactpersoon</label>
                                        <InputText class="input" @bind-Value="@model.contactPersoon.LastName" />
                                    </div>
                                    <div>
                                        <label class="label">Email Contactpersoon</label>
                                        <InputText class="input" @bind-Value="@model.contactPersoon.Email" />
                                    </div>
                                    <div>
                                        <label class="label">Gsm-nummer Contactpersoon</label>
                                        <InputText class="input" @bind-Value="@model.contactPersoon.PhoneNumber" />
                                    </div>
                                </div>
                               
                            <button class="button mt-2" type="submit">Klant wijzigen</button>
                        </EditForm>
                    }
                </div>
            </div>
        </div>
    }
}