@page "/beschikbaarheid"
@attribute [Authorize]

<h1 class="is-title-3">Beschikbaarheden op datum</h1>

<div class="container">
    <div class="form-container">
        <div class="block">
            <div class="flex">
                <p class="has-text-danger">@check</p>
                <label class="" for="startdate">Start Datum:</label>
                <input type="date" name="startdate" @bind="DateStart" />
                <label class="px-4" for="enddate">Eind Datum:</label>
                <input class="mr-4" type="date" name="enddate" @bind="DateEnd" />
            </div>
        </div>
        <div class="block">
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-info mr-2" type="submit" @onclick="GetAvailableResources">Submit</button>
                </div>
                <div class="control">
                    <i class="fa-solid fa-square-poll-vertical fa-2x" @onclick="Toggle"></i>
                </div>
            </div>
        </div>
    </div>
    @if (loading)
    {
        <span class="icon is-large">
            <i class="fas fa-lg fa-solid fa-spinner fa-spin"></i>
        </span>
    }
    else if (_active)
    {
        if (_data.Count() ==0 )
        {
            <p>Je moet een periode geven die groter is dan 1 dag.</p>
        }
        else
        {
            <div class="graph-container">
                <Client.Servers.Component.Graph Data="_data" />
            </div>
        }
    }
    else if (Servers is not null && Servers.Count() > 0)
    {
        <div class="columns is-desktop is-multiline">

            @foreach (var server in Servers)
            {
                <div class="column is-one-third-widescreen is-half-desktop">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-header-title">Server: @server.Id</h3>
                        </div>
                        <div class="card-body">
                            <div class="subtitle">
                                <p>Resources</p>
                            </div>
                            <p>Geheugen/Ram: @(server.HardwareInUse.Memory) MB</p>
                            <p>Opslag: @(server.HardwareInUse.Storage) GB</p>
                            <p>Aantal Cores: @server.HardwareInUse.Amount_vCPU</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>



@code {
    private bool _active = false;
    private bool loading = false;

    private async void Toggle()
    {
        if (_active)
        {
            loading = true;
            await GetAvailableResourcesTotal();
            loading = false;
        }
        else
        {
            _active = !_active;
            loading = true;
            await GetAvailableResourcesTotal();
            loading = false;
        }
        StateHasChanged();
    }
}